<div class="container">
    <div class="row">
        <div class="col-md-12 main">
<h1>About Us</h1>
<p>Lorem ipsum dolor sit amet consectetur. Dignissimos doloremque voluptatem eaque, quam dolore quibusdam officia odit velit harum nihil a!</p>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h2>Voluptatem dignissimos provident quasi corporis</h2>
            <img src="../../assets/about.jpg" alt="" height="350px" width="550px"><br><br>
            <p>Ut fugiat ut sunt quia veniam. Voluptate perferendis perspiciatis quod nisi et. Placeat debitis quia recusandae odit et consequatur voluptatem. Dignissimos pariatur consectetur fugiat voluptas ea.</p>
            <p>Temporibus nihil enim deserunt sed ea. Provident sit expedita aut cupiditate nihil vitae quo officia vel. Blanditiis eligendi possimus et in cum. Quidem eos ut sint rem veniam qui. Ut ut repellendus nobis tempore doloribus debitis explicabo similique sit. Accusantium sed ut omnis beatae neque deleniti repellendus.</p>
        </div>
    <div class="col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
         <span class="fa fa-check-circle"></span>&nbsp;<span>Ullamco laboris nisi ut aliquip ex ea commodo consequat</span><br>
         <span class="fa fa-check-circle"></span>&nbsp;<span>Duis aute irure dolor in reprehenderit in voluptate velit.</span><br>
         <span class="fa fa-check-circle"></span>&nbsp;<span>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</span><br><br>
    <p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident</p>
<img src="../../assets/about-2.jpg" alt="" height="350px" width="550px">        
</div>

<marquee behavior="" direction="rtl"><img src="../../assets/client-6.png" class="image"><img src="../../assets/client-4.png" class="image" alt=""><img src="../../assets/client-3.png" class="image"><img src="../../assets/client-1.png" class="image"><img src="../../assets/client-2.png" class="image"><img src="../../assets/client-5.png" class="image"></marquee>
</div>
<div class="container-fluid">
    <div class="row">
    <div class="col-md-6">
        <img src="../../assets/stats-img.svg" alt="" height="450px" width="550px">
    </div>
    <div class="col-md-6 stats">
        <span class="num">232</span><span>&nbsp;<b>Happy Clients </b>consequuntur quae diredo para mesta</span><hr>
        <span class="num">521</span><span>&nbsp;<b>Projects</b> adipisci atque cum quia aut</span><hr>
        <span class="num">453</span><span> &nbsp;<b>Hoursss Of Support</b> aut commodi quaerat</span><hr>
    </div>
</div>
<div style="background-image:url('https://newevolutiondesigns.com/images/freebies/city-wallpaper-6.jpg')"></div> 
</div>
</div>