<div class="contianer">
<h1 class="text-center">Contact</h1>
<p class="text-center">Nulla dolorum nulla nesciunt rerum facere sed ut inventore quam porro nihil id ratione ea sunt quis dolorem dolore earum</p>
<div class="row px-5">

    <div class="col-md-4 field">
        <div class="location">&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span>
            <h3>Location:</h3>
        <p>A108 Adam Street, New York, NY 535022</p>
    </span>
    </div>
        <div class="email">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <Span><h3>Email:</h3>
        <p>info@example.com</p></Span></div>
        <div class="call">
            
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <span>
            <h3>Call:</h3>
        <p>+1 5589 55488 55</p>
    </span>
    </div>
        <div class="hours"><i class="fa fa-clock-o" aria-hidden="true"></i>
            <span>
        <h3>Open Hours:</h3>
        <p>Mon-Sat: 11AM - 23PM</p>
    </span>

    </div>
    </div>
    <div class="col-md-6">
        <form (ngSubmit)="onSubmit()"  [formGroup] = "RegisterForm" >
    <input type="text" placeholder="Enter Your Name" class="input" formControlName = "name">
    <input type="email" placeholder="Enter Email Address" class="input" formControlName = "email"><br><br>
    <input type="text" placeholder="Enter Subject" class="sub" formControlName = "sub"><br><br>
    <textarea name="msg" id="" cols="75" rows="7" formControlName = "msg"></textarea><br><br>
    <button class="btn btn-outline-warning" type="submit">submit</button>
</form>
</div>
</div>
</div>