<div class="container-fluid">
    <h1>Our Services</h1>
    <p class="par">Aperiam dolorum et et wuia molestias qui eveniet numquam nihil porro incidunt dolores placeat sunt id
        nobis omnis tiledo stran delop</p>

    <div class="row">
        <div class="col-md-3 A">
            <i class="fa fa-desktop" aria-hidden="true">
            </i>
            <h2 class="text-center">Lorem Ipsum</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, ex.</p>
        </div>
        <div class="col-md-3 A"><i class="fa fa-bolt" aria-hidden="true"></i>
            <h2 class="text-center">Lorem Ipsum</h2>
        </div>
        <div class="col-md-3 A"><i class="fa fa-rss" aria-hidden="true"></i>
            <h2 class="text-center">Lorem Ipsum</h2>
        </div>

        <div class="col-md-3 A"><i class="fa fa-newspaper-o" aria-hidden="true"></i>
            <h2 class="text-center">Lorem Ipsum</h2>
        </div>
        <div class="col-md-3 A"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
            <h2 class="text-center">Lorem Ipsum</h2>
        </div>
        <div class="col-md-3 A"><i class="fa fa-file-text-o" aria-hidden="true"></i>
            <h2 class="text-center">Lorem Ipsum</h2>
        </div>
    </div>
</div>