
<div class="container-fluid">
    <h1>Our Team</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate omnis repellendus dignissimos hic, aut error sapiente sit molestias aliquid illum?</p>
    <div class="row">
        <div class="col-md-2">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/team-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title text-center">Walter White</h3>
                  <p class="card-text text-center">Web Development</p>
                  <i class="fa fa-instagram icon"></i>
                  <i class="fa fa-twitter icon"></i>
                  <i class="fa fa-facebook icon"></i>
                  <i class="fa fa-linkedin icon"></i>
                </div>
              </div>
        </div>
        <div class="col-md-2">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/team-2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title text-center ">Sarah Jhinson</h3>
                  <p class="card-text text-center">Marketing</p>
                  <i class="fa fa-instagram icon"></i>
                  <i class="fa fa-twitter icon"></i>
                  <i class="fa fa-facebook icon"></i>
                  <i class="fa fa-linkedin icon"></i>
                </div>
              </div>
        </div>
        <div class="col-md-2">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/team-3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title text-center">William Anderson</h3>
                  <p class="card-text text-center">Content</p>
                  <i class="fa fa-instagram icon"></i>
                  <i class="fa fa-twitter icon"></i>
                  <i class="fa fa-facebook icon"></i>
                  <i class="fa fa-linkedin icon"></i>
                </div>
              </div>
        </div>
        <div class="col-md-2">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/team-4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title text-center">Amanda Jepson</h3>
                  <p class="card-text text-center">Accountant</p>
                  <i class="fa fa-instagram icon"></i>
                  <i class="fa fa-twitter icon"></i>
                  <i class="fa fa-facebook icon"></i>
                  <i class="fa fa-linkedin icon"></i>
                </div>
              </div>
        </div>
    </div>
</div>
