<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 one px-5 py-5 ">
            
            <h1 class="font-weight-bold">Welcome to Impact</h1>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.perferendis perspiciatis ratione illum beatae quas ullam earum voluptatem harum.</p>
            <button type="button" class="btn btn-secondary">Get Started</button> 
            <button  class="btn btn-muted"> <i class="fa fa-play-circle-o"></i>&nbsp;&nbsp;Watch a video</button>
        </div>

        <div class="col-md-6 two">
            <img src="../../assets/hero-img.svg" alt="">
        </div>
    </div>
</div>
    <div class="container-fluid box ">
    <div class="row four">
        <div class="col-md-2 A"><i class="fa fa-desktop" aria-hidden="true"></i><h2>Lorem Ipsum</h2></div>
        <div class="col-md-2 B"><i class="fa fa-diamond" aria-hidden="true"></i><h2>Lorem Ipsum</h2></div>
        <div class="col-md-2 C"><i class="fa fa-map-marker"></i><h2>Lorem Ipsum</h2></div>
        <div class="col-md-2 D"><i class="fa fa-arrows-alt" aria-hidden="true"></i><h2>Lorem Ipsum</h2></div>
    </div>
</div>

